.orgSection{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.title{
    color: #6278F7;
    font-size: 32px;
    font-weight: 400;

}
.orgSection img{
    position: absolute;
    right: 30%;
    cursor:pointer
}