.formulario {
    display: flex;
    margin: 30px ;
    justify-content: space-evenly;

 }

.formulario form{
    max-width: 80%;
    border-radius: 20px;
    background-color: #f7f7f7;
    box-shadow: 7px 7px 15px  rgba(0, 0, 0, 0.08);
    padding: 8px 50px;



}
.formulario h2{
    font-size: 22px;
    font-weight: 400;
    color: #212121;
    text-align: justify;
  
}